src/XSD/Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.intuit.com/finance/v3"
    targetNamespace="http://schema.intuit.com/finance/v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="IntuitBaseTypes.xsd"/>
    <xs:simpleType name="DateMacro">
        <xs:annotation>
            <xs:documentation>Date macros enumeration</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="All"/>
            <xs:enumeration value="Today"/>
            <xs:enumeration value="This Week"/>
            <xs:enumeration value="This Week-to-date"/>
            <xs:enumeration value="This Month"/>
            <xs:enumeration value="This Month-to-date"/>
            <xs:enumeration value="This Fiscal Quarter"/>
            <xs:enumeration value="This Fiscal Quarter-to-date"/>
            <xs:enumeration value="This Fiscal Year"/>
            <xs:enumeration value="This Fiscal Year-to-date"/>
            <xs:enumeration value="This Calendar Quarter"/>
            <xs:enumeration value="This Calendar Quarter-to-date"/>
            <xs:enumeration value="This Calendar Year"/>
            <xs:enumeration value="This Calendar Year-to-date"/>
            <xs:enumeration value="Yesterday"/>
            <xs:enumeration value="Last Week"/>
            <xs:enumeration value="Last Week-to-date"/>
            <xs:enumeration value="Last Month"/>
            <xs:enumeration value="Last Month-to-date"/>
            <xs:enumeration value="Last Fiscal Quarter"/>
            <xs:enumeration value="Last Fiscal Quarter-to-date"/>
            <xs:enumeration value="Last Fiscal Year"/>
            <xs:enumeration value="Last Fiscal Year-to-date"/>
            <xs:enumeration value="Last Calendar Quarter"/>
            <xs:enumeration value="Last Calendar Quarter-to-date"/>
            <xs:enumeration value="Last Calendar Year"/>
            <xs:enumeration value="Last Calendar Year-to-date"/>
            <xs:enumeration value="Next Week"/>
            <xs:enumeration value="Next 4 Weeks"/>
            <xs:enumeration value="Next Month"/>
            <xs:enumeration value="Next Fiscal Quarter"/>
            <xs:enumeration value="Next Fiscal Year"/>
            <xs:enumeration value="Next Calendar Quarter"/>
            <xs:enumeration value="Next Calendar Year"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SummarizeColumnsByEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Total"/>
            <xs:enumeration value="Year"/>
            <xs:enumeration value="Quarter"/>
            <xs:enumeration value="FiscalYear"/>
            <xs:enumeration value="FiscalQuarter"/>
            <xs:enumeration value="Month"/>
            <xs:enumeration value="Week"/>
            <xs:enumeration value="Days"/>
            <xs:enumeration value="Customers"/>
            <xs:enumeration value="Vendors"/>
            <xs:enumeration value="Employees"/>
            <xs:enumeration value="Departments"/>
            <xs:enumeration value="Classes"/>
            <xs:enumeration value="ProductsAndServices"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ColumnTypeEnum">
        <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the column type definition </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Account"/>
            <xs:enumeration value="Money"/>
            <xs:enumeration value="Rate"/>
            <xs:enumeration value="Customer"/>
            <xs:enumeration value="Vendor"/>
            <xs:enumeration value="Employee"/>
            <xs:enumeration value="ProductsAndService"/>
            <xs:enumeration value="Department"/>
            <xs:enumeration value="Class"/>
            <xs:enumeration value="String"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RowTypeEnum">
        <xs:annotation>
            <xs:documentation xml:lang="en">List of all row types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Section"/>
            <xs:enumeration value="Data"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Attributes">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Attribute" type="Attribute">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Describes the type</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Attribute">
        <xs:sequence>
            <xs:element name="Type" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Describes the Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Value" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Describes the Value</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Columns">
        <xs:annotation>
            <xs:documentation xml:lang="en">List of columns</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="Column" type="Column">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Column of the report</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Column">
        <xs:annotation>
            <xs:documentation xml:lang="en">Describes a column</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ColTitle" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Describes the column title name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ColType" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Describes the column type enumeration</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MetaData" type="NameValue">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Column Metadata</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="0" name="Columns" type="Columns">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Subcolumns of the column</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ColData">
        <xs:annotation>
            <xs:documentation xml:lang="en">One ColData can contain one column</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="Attributes" type="Attributes">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Describes the column attributes</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="href" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Reference url </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Row">
        <xs:annotation>
            <xs:documentation xml:lang="en">One Row can contain any number of columns</xs:documentation>
        </xs:annotation>
        
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="parentId" type="xs:string" minOccurs="0"/>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="Header" type="Header" minOccurs="0"/>
                    <xs:element name="Rows" type="Rows" minOccurs="0"/>
                    <xs:element name="Summary" type="Summary" minOccurs="0"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ColData" type="ColData"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>

        <xs:attribute name="type" type="RowTypeEnum">
            <xs:annotation>
                <xs:documentation>Row type section, summary, data row etc.. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="group" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Report Group Income, Expense, COGS etc..</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Header">
        <xs:annotation>
            <xs:documentation xml:lang="en">Group Header</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="ColData" type="ColData"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Summary">
        <xs:annotation>
            <xs:documentation xml:lang="en">Group Summary</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="ColData" type="ColData"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Rows">
        <xs:annotation>
            <xs:documentation xml:lang="en">List of rows</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Row" type="Row"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportHeader">
        <xs:annotation>
            <xs:documentation xml:lang="en">Specifies the Header of a Report, Time report was generated, parameters corresponding to the request</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="Time" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the time at which report was generated</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ReportName" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the report name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="DateMacro" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the report name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ReportBasis" type="ReportBasisEnum">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the report is cash basis or accrual basis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="StartPeriod" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Start Period for which the report was generated</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="EndPeriod" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">End Period for which the report was generated</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="SummarizeColumnsBy" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Summarize columns by enumeration</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Currency" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the currency code associated with the report, note that this is one place where this is just the currency code, not a reference to a currency object</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Customer" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the customer id (comma separeted) for which the report is run this is just the id, not a reference to a customer object</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Vendor" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the vendor id (comma separeted) for which the report is run this is just the id, not a reference to a vendor object</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Employee" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the employee id (comma separeted) for which the report is run this is just the id, not a reference to a employee object</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Item" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the product/service id (comma separeted) for which the report is run this is just the id, not a reference to a product/service object</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Class" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the class id (comma separeted) for which the report is run this is just the  id, not a reference to a class object</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Department" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the Department id (comma separeted) for which the report is run this is just the  id, not a reference to a Department object</xs:documentation>
                </xs:annotation>
            </xs:element>
            <!-- This will have more options for eg Compare PY, Add % Of Column/Row -->
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Option" type="NameValue">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Describes the options used for the report</xs:documentation>
                </xs:annotation>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  -->
    <!-- * * * * * * * * * *  REPORTS SECTION * * * * * * * * * *  -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  -->
    <xs:complexType name="Report">
        <xs:annotation>
            <xs:documentation xml:lang="en">Report Response Type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="Header" type="ReportHeader">
                <xs:annotation>
                    <xs:documentation>Report Header, contains the report options that were used to generate the report</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Columns" type="Columns">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Rows" type="Rows">
                <xs:annotation>
                    <xs:documentation/>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType> 
    

</xs:schema>